body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(51, 50, 50));
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

h2 {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 15px;
    width: 22%;
    color: rgb(235, 235, 235);
    height: 40%;

}

.box-input{
    position: relative;
}
.botaoLogin {
width: 100%;
font-size: 18px;
cursor: pointer;
background-color: rgb(255, 255, 255);
color: rgb(2, 2, 2);
padding: 5px;
border-radius: 10px;
transition: background 0.5s;


}

.botaoLogin:hover {
background-color: rgb(73, 72, 72);
color: rgb(231, 230, 230);
}
.inputLogin{
    background: none;
    border: 10px;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 30px;
}


.inputLabel{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none ;
    transition: .5s;
}

.inputLogin:focus ~ .inputLabel,
.inputLogin:valid ~ .inputLabel{
    top: -20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
