
body{
  margin: 0;
  padding: 0;
  /* background-color:rgba(38, 105, 136, 0.9); */
  

  background-repeat: no-repeat;
  background-size: cover;
}
.header .container {
  margin-top: 4.2rem;
  padding-top: 0;
  display: inline-flex;
  text-align: left;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  color: rgb(0, 0, 0);
  z-index: 1;
}
.header ul li a {
    
  font-weight: 600;
  font-family: "Halis GR";
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  margin: auto;
  letter-spacing: 1px;
  will-change: opacity;
  z-index: 2;
  cursor: pointer;
}


.header h1 {
  color: rgb(0, 0, 0);
  margin-right: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.campos {
  list-style: none;
  display: flex;
  color: rgb(255, 255, 255);
  gap: 80px;
  align-items: center;
}
.header {
  width: 100%;
  align-items: center;
  margin-bottom: 120px;
}

.navbar {
  width: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #fff;
}
.navbar  a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
	border: 1px solid transparent;
    border-radius: 10px;

}
.navbar  a:hover{
    background-color: #fff;
	color: black;
	transition: 0.5s;
    font-weight: bold;
}
section{
    height: 10%;
    padding: 100px;
    background-color: rgba(0,0,0,0.2);
}
.a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.graf{
 height: 40vh;
 width: 45vw;
}
h2{
  width: 42vw;
  margin-top: 20px;
  margin-left: 450px;
  color: #000;
  /* background-color:#fff; */
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  
}
.content{
  border: solid 4px;
    width: 54vw;
    height: 62vh;
    position: absolute;
    left: 20%;
    top: 25%;
    background-color: rgb(255, 255, 255, 0.9);
   
}
#graficomusico{

  max-width: 40%;
  
  height: auto; 
  
  display: table; 
  
  border-collapse: separate;
  
  }
  
  .footer-container {
    background-color: #000;
    height: 30vh;
    width: 99.1vw;
    margin: 0;
    padding-top: 40px;
    color: #fff;    
  }
   .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    -webkit-text-stroke: 1px #FFF;
    -stroke: 1px #FFF;
    text-decoration: none;
  }
  .footer-container p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 8px;
    font-size: 14px;
  }
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 50px;
  }
  .socials li{
        margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  .socials a:hover i{
    color: rgba(255, 0, 0, 0.5);
  }
  .footer .container h4 {
      margin-top:0px;
  } 
  .btn1{
    padding: 0px;
    width: 20vw;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;

    background: rgb(7, 2, 2);
    color:  rgb(255, 255, 255);
    font-weight: bold;
}
.btn1:hover{
   letter-spacing: .1px;
    transition: 1s;
}
.posibotao{
  position:absolute;
  top: 90%;
  left: 28%;
}

#Grafico2 {
  display: none;
}