@font-face {
    font-family: 'font-oldschool' ;
    src: url(../Assets/fonts/New\ Athletic\ M54.ttf) format('truetype');
    font-size: normal;
    font-weight: normal;
}

body{
    
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(107, 103, 103));
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
   
   
    }





    h1 img {
        width: 100px;
        margin-right: 50px;
        height: 90px;
      }
    
 
.header {
    width: 100%;
  
    margin-bottom: 80px;
}

.header .container {
    margin-top: 4.2rem;
    padding-top: 0;
    display: inline-flex;
    text-align: left;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    z-index: 1;
}








.campos {
    list-style: none;
    display: flex;
    color: rgb(255, 255, 255);
    gap: 80px;
    align-items: center;
}


.header ul li a {
    
    font-weight: 600;
    font-family: "Halis GR";
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    margin: auto;
    letter-spacing: 1px;
    will-change: opacity;
    z-index: 2;
    cursor: pointer;
}


.header h1 {
    color: rgb(255, 255, 255);
    margin-right: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




.slider{
    margin: 0 auto;
    width: 800px;
    height:528px;
    overflow: hidden;
    margin-top: 11%;
    
    
    
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    margin-top: 70px;
    
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
  
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
   
   
    margin-top: 434px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #181717;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:Last-child) {
    margin-right: 40px;
}



.manual-btn:hover {
    background-color: #f5f5f5}

#radio1:checked ~ .first {
 margin-left: 0;   
}

#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
    }

.navigation-auto div {
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.navigation-auto {
    
    width: 800px;
    margin-top: 434px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:Last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #ffffff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #ffffff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fcfcfc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #ffffff;
}


.skate{
    
    width: 200px;
    right: -80px;
    position: absolute;
    animation: skate-animation 7s infinite linear;
}




@keyframes skate-animation {
    from{
        left: 0;
    }
    to {
        left: 80%;
    } }

.Sobre {
    display: flex;
    font-size: large;
    width: 30%;
    padding: 32px;
    font-family: 'font-oldschool';
    height: 84%;
    color: white;
    margin-top: -48px;
    position: relative;
    left: 13%;
   
}

.Curiosidades{
   font-family: 'font-oldschool';
    display: flex;
    font-size: large;
    width: 30%;
   color: white;
    height: 84%;
    position: relative;
    left: 58%;
    
    margin-top: 10%;
}

.TituloCuriosidades{
    display: flex;
    position: absolute;
    left: 58%;
    color: white;
    font-family: 'font-oldschool';
  
   margin-top: 6%;
   font-size: 45px;
}
.imgGrafite{
    display: flex;
    left: 58%;
    position: absolute;
    
    margin-top: -12%;
  
    height: 200px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin-top: 7vh;
}

.icon{
    width: 250px;
    height: 250px;
}

.card img{
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    margin-left: 32px;
   
}

.card button {
    margin-top: 30px;
    padding: 0.5rem 1rem;
    text-transform: uppercase; 
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
   
}

.card h3{
    margin:16px 0;
    color: white;
}
.card span{
    color: white;
}
.tituloSobre{
    margin-top: 25vh;
    margin-left: 15%;
    font-size: 45px;
    font-family: 'font-oldchool';
}
.social h1{
    color: white;
    font-family: 'font-oldschool';
   
}


#cards{
    transition: 300ms;
    animation: 3s;
    scroll-behavior: smooth;
}

#CardsLentidao{
    transition: 300ms;
    scroll-behavior: smooth;
}

.card button:hover{
    transition: 850ms;
    background-color: rgb(65, 65, 65);
    color: rgb(221, 212, 212);
}

.imgGrafite2{
    display: flex;
    position: absolute;
    padding: 32px;
    margin-top: -25vh;
    height: 258px;
}

